= form_for @cook do |f|
  - if @cook.errors.any?
    #error_explanation
      %h2= "#{pluralize(@cook.errors.count, "error")} prohibited this cook from being saved:"
      %ul
        - @cook.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :host
    = f.text_field :host
  .field
    = f.label :recipe
    = f.text_field :recipe
  .field
    = f.label :user
    = f.text_area :user
  .field
    = f.label :success
    = f.check_box :success
  .field
    = f.label :log
    = f.text_area :log
  .field
    = f.label :memo
    = f.text_area :memo
  .actions
    = f.submit 'Save'
