- content_for(:title) { 'All cook results' }
%h2 All cook results

%table.table.table-striped.table-condensed
  %thead
    %tr
      %th Time
      %th Host
      %th Recipe
      %th User
      %th Success
      %th Log
      %th Memo
      %th
  %tbody
    - @cooks.each do |cook|
      %tr
        %td= cook.created_at
        %td= cook.host.name
        %td= cook.recipe.name
        %td= cook.user
        %td= cook.success
        %td= cook.log
        %td= cook.memo
        %td
          = link_to 'Show', cook
          = link_to 'Destroy', cook, :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to 'New Cook', new_cook_path
