- content_for(:title) { t('all cook results') }
%h2= t('all cook results')

%table.table.table-striped.table-condensed
  %thead
    %tr
      %th= Cook.human_attribute_name(:created_at)
      %th= Cook.human_attribute_name(:host)
      %th= Cook.human_attribute_name(:recipe)
      %th= Cook.human_attribute_name(:user)
      %th= Cook.human_attribute_name(:success)
      %th= Cook.human_attribute_name(:log)
      %th= Cook.human_attribute_name(:memo)
      %th
  %tbody
    - @cooks.each do |cook|
      %tr
        %td= cook.created_at
        %td= cook.host.name
        %td= cook.recipe.name
        %td= cook.user.name if cook.user
        %td= cook.success
        %td= cook.log
        %td= cook.memo
        %td
          = link_to t(:show), cook
          = link_to t(:destroy), cook, :method => :delete, :data => { :confirm => t('are you sure') }

= link_to "#{t(:new)} #{Cook.model_name.human}", new_cook_path
