%p#notice= notice

%p
  %b= Cook.human_attribute_name(:created_at)
  = @cook.created_at
%p
  %b= Cook.human_attribute_name(:host)
  = @cook.host.name
%p
  %b= Cook.human_attribute_name(:recipe)
  = @cook.recipe.name
%p
  %b= Cook.human_attribute_name(:user)
  = @cook.user.name if @cook.user
%p
  %b= Cook.human_attribute_name(:success)
  = @cook.success
%p
  %b= Cook.human_attribute_name(:memo)
  %pre= @cook.memo
%p
  %b= Cook.human_attribute_name(:log)
  %pre=@cook.log
= link_to t(:back), cooks_path
