%p#notice= notice

%p
  %b Time
  = @cook.created_at
%p
  %b Host:
  = @cook.host.name
%p
  %b Recipe:
  = @cook.recipe.name
%p
  %b User:
  = @cook.user
%p
  %b Success:
  = @cook.success
%p
  %b Memo:
  = @cook.memo
%p
  %b Log:
  %pre=@cook.log
= link_to 'Back', cooks_path
