- content_for(:title) { "#{t(:edit)} #{Recipe.model_name.human}: #{@recipe.name}" }
%h2= "#{t(:edit)} #{Recipe.model_name.human}: #{@recipe.name}"

= render 'form'

= link_to t(:show), @recipe
\|
= link_to t(:back), recipes_path
