%h2 Listing recipes

%table.table
  %tr
    %th Name
    %th Tasks
    %th User
    %th Memo
    %th
    %th
    %th

  - @recipes.each do |recipe|
    %tr
      %td= recipe.name
      %td= recipe.tasks
      %td= recipe.user_id
      %td= recipe.memo
      %td= link_to 'Show', recipe
      %td= link_to 'Edit', edit_recipe_path(recipe)
      %td= link_to 'Destroy', recipe, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Recipe', new_recipe_path
