- content_for(:title) { "#{t(:all)} #{Recipe.model_name.human(count: 2)}" }
%h2= "#{t(:all)} #{Recipe.model_name.human(count: 2)}"

%table.table.table-striped.table-condensed
  %thead
    %tr
      %th= Recipe.human_attribute_name(:name)
      %th= Recipe.human_attribute_name(:memo)
      %th= Recipe.human_attribute_name(:user)
      %th
  %tbody
    - @recipes.each do |recipe|
      %tr
        %td= recipe.name
        %td= recipe.memo
        %td= recipe.user.name if recipe.user
        %td
          = link_to t(:show), recipe
          = link_to t(:edit), edit_recipe_path(recipe)
          = link_to t(:destroy), recipe, :method => :delete, :data => { :confirm => t('are you sure') }

%br

= link_to "#{t(:new)} #{Recipe.model_name.human}", new_recipe_path
