- content_for(:title) { @recipe.name }
%p#notice= notice

%p
  %b= Recipe.human_attribute_name(:name)
  = @recipe.name
%p
  %b= Recipe.human_attribute_name(:user_id)
  = @recipe.user_id
%p
  %b= Recipe.human_attribute_name(:memo)
  = @recipe.memo
%p
  %b= Recipe.human_attribute_name(:tasks)
  %pre= @recipe.tasks


= link_to t(:edit), edit_recipe_path(@recipe)
\|
= link_to t(:back), recipes_path
