- content_for(:title) { @recipe.name }
%p#notice= notice

%p
  %b Name:
  = @recipe.name
%p
  %b User:
  = @recipe.user_id
%p
  %b Memo:
  = @recipe.memo
%p
  %b Tasks:
  %pre= @recipe.tasks


= link_to 'Edit', edit_recipe_path(@recipe)
\|
= link_to 'Back', recipes_path
