= form_for @host do |f|
  - if @host.errors.any?
    #error_explanation
      %h2= "#{pluralize(@host.errors.count, "error")} prohibited this host from being saved:"
      %ul
        - @host.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :ip
    = f.text_field :ip
  .field
    = f.label :user_name
    = f.text_field :user_name
  .field
    = f.label :password
    = f.text_field :password
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'
