= bootstrap_form_for @host, html: { class: 'form-horizontal' } do |f|
  = f.text_field :name, placeholder: 'DNS'
  = f.text_field :address, placeholder: '127.0.0.1'
  = f.text_field :user_name, placeholder: 'root'
  = f.text_field :password, type: 'password'
  = f.text_area :description, class: 'description'
  .actions
    = f.submit 'Save', class: 'class: btn btn-large btn-block btn-primary'
