- content_for(:title) { "#{t(:edit)} #{Host.model_name.human}: #{@host.name}" }
%h2= "#{t(:edit)} #{Host.model_name.human}: #{@host.name}"

= render 'form'

= link_to t(:show), @host
\|
= link_to t(:back), hosts_path
