%h2 Listing hosts

%table.table
  %tr
    %th Name
    %th Address
    %th User name
    %th Password
    %th Description
    %th
    %th
    %th

  - @hosts.each do |host|
    %tr
      %td= host.name
      %td= host.address
      %td= host.user_name
      %td= host.password
      %td= host.description
      %td= link_to 'Show', host
      %td= link_to 'Edit', edit_host_path(host)
      %td= link_to 'Destroy', host, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Host', new_host_path
