- content_for(:title) { "#{t(:all)} #{Host.model_name.human(count: 2)}" }
%h2= "#{t(:all)} #{Host.model_name.human(count: 2)}"

%table.table.table-striped.table-condensed
  %thead
    %tr
      %th= Host.human_attribute_name(:name)
      %th= Host.human_attribute_name(:address)
      %th= Host.human_attribute_name(:user_name)
      %th= Host.human_attribute_name(:description)
      %th
  %tbody
    - @hosts.each do |host|
      %tr
        %td= host.name
        %td= host.address
        %td= host.user_name
        %td= host.description
        %td
          =link_to t(:show), host
          =link_to t(:edit), edit_host_path(host)
          =link_to t(:destroy), host, :method => :delete, :data => { :confirm => t('are you sure') }

%br

= link_to "#{t(:new)} #{Host.model_name.human}", new_host_path
