- content_for(:title) { 'All hosts' }
%h2 All hosts

%table.table.table-striped.table-condensed
  %thead
    %tr
      %th Name
      %th Address
      %th User name
      %th Description
      %th
  %tbody
    - @hosts.each do |host|
      %tr
        %td= host.name
        %td= host.address
        %td= host.user_name
        %td= host.description
        %td
          =link_to 'Show', host
          =link_to 'Edit', edit_host_path(host)
          =link_to 'Destroy', host, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Host', new_host_path
