%p#notice= notice

%p
  %b= Host.human_attribute_name(:name)
  = @host.name
%p
  %b= Host.human_attribute_name(:address)
  = @host.address
%p
  %b= Host.human_attribute_name(:user_name)
  = @host.user_name
%p
  %b= Host.human_attribute_name(:password)
  ****
%p
  %b= Host.human_attribute_name(:description)
  %pre= @host.description

= link_to t(:edit), edit_host_path(@host)
\|
= link_to t(:back), hosts_path
